body {
    background-color: yellow;
}
.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c; 
}
body {
    font-family: 'Dongle', sans-serif;
}
head {
    font-family: 'Noto Sans', sans-serif;
}
